#
# Adjust the following variables
# You also might prefer to move FLENS_DOC_DIR into your .profile
#
export FLENS_DOC_DIR=/Users/lehn/Documents/flens_doc
export HTML_DIR=${HOME}/Sites/FLENS
export TMP_DIR=/tmp/doctool

#
# Also adjust these for the web-footer
#
export YEAR=`date "+%Y"`
export AUTHOR="Michael Lehn"
export AUTHOR_WEBSITE="http://numerik.uni-ulm.de/staff/lehn"

#
# Should work on Mac OS X and Ubuntu.  We need vim to render source code.
#
export VIM=vim
export VIMRUNTIME=/usr/share/vim/vim72

#
# We assume doc-files a loacted in the current directory
# and/or in subdirectories
#
export DOCSRC_DIR=${PWD}

#
# Example code gets copied and executed in this directory
#
export CODE_DIR=${DOCSRC_DIR}/examples

#
# These log-files report what was done and what has gone wrong
#
export LOGFILE=${TMP_DIR}/doc.log
export ERRORLOGFILE=${TMP_DIR}/doc.error.log

#
# Location of resources like images, sourcecode, ...
#
export HTML_SOURCEFILES=${HTML_DIR}/src
export IMG_DIR=${HTML_DIR}/img
export DOWNLOAD_DIR=${HTML_DIR}/examples

#
# Should work if FLENS_DOC_DIR points to the correct location of doctool
#
export TEMPLATE_DIR=${FLENS_DOC_DIR}/templates
export SLIDE_HEADER=${TEMPLATE_DIR}/slide_header
export SLIDE_FOOTER=${TEMPLATE_DIR}/slide_footer

export LATEX_HEADER=${TEMPLATE_DIR}/latex_header.tex
export LATEX_FOOTER=${TEMPLATE_DIR}/latex_footer.tex
export LATEX_FORMULA=${TEMPLATE_DIR}/latex_formula.tex

